/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS

  Sky
    rgb(52, 152, 219)

  Dark Blue
    rgb(44, 62, 80)

  Grey
    rgb(127, 140, 141)

  Cloud
    rgb(236, 240, 241)
*/

.background--skyBlue {
  background-color: rgb(9, 23, 48);
}

.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--darkBlue {
  color: rgb(135,247,223);
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

html {
  font-size: calc(0.5em + 0.5vw);
}

body {
  font-family: 'Questrial';
  margin: 0;
  position: absolute;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}

/*
  Helpers
*/

.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}


/*
  Sections
*/
.parallax--background--profilePic {
  background-image: url(../images/Aino.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 5rem;
}

.section {
  font-size: 4.2rem;
  min-height: 70vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section--alignCentered {
  text-align: center;
}

.section--description {
  font-size: 2.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
}
.section__description--coverletter {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 90%;
}

.section__text--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__text--left {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 50%;
  float: left;
  font-size: 4rem;
}
.section__text--left--p {
  margin-left: 2rem;
  margin-top: .7rem;
  float: left;
  font-size: 1.5rem;
}

.section__exampleWrapper,
.section__example {
  display: inline-block;
  height: 35rem;
  width: 35rem;
}

.section__exampleWrapper {
  margin-right: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section__example {
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.section__example:active {
  transition: 0.05s all;
  width: 34rem;
  height: 34rem;
}

.section__exampleTitle{
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  text-shadow: 2px 2px 4px darkBlue;
}

.section__exampleImage {
  opacity: 0.6;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  height: 35rem;
  min-width: 35rem;
  display: inline;
}

/*
  Header
*/
.header--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.section__heading--largest {
  align-self: baseline;
  font-size: 6rem;
  margin-left: 2rem;
}

.section--social {
  align-self: baseline;
  line-height: 5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.social {
  margin-right: 1rem;
}

.socialWrapper:last-child .social {
  margin-right: 1rem;
}

.socialWrapper {
  display: inline-block;
  font-size: 2rem;
}

@media only screen and (max-width: 480px) {
  .header--flex {
    flex-direction: column-reverse;
    flex: 100%;
    align-content: flex-start;
  }
  .section--social {
    align-self: flex-end;
    margin-right: 1em;
  }
}
