.modal__tiles {
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
	justify-content: center;
  position: relative;
}

.modal__tile {
  align-items: center;
  height: 25rem;
  width: 25rem;
}

.modal__img {
  overflow: visible;
  height: 25rem;
  width: 25rem;
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
	position: relative;
	z-index: 200;
}
.modal__img:hover {
  object-fit: contain;
  cursor: pointer;
  overflow: hidden;
  transform: scale(1:1);
	position: relative;
	z-index: 10;
}

.tooltip {
  padding-top: .5rem;
  padding-bottom: 5rem;
  width: 25rem;
  visibility: visible;
  position: absolute;
  color: rgb(9, 23, 48);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  text-align: center;
	z-index: 100;
}

.tooltip:hover {
  z-index: 201;
}

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height:100%;
  z-index: 100;
  overflow-y: auto;
}

.modal--open__scroll {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 101;
}

.modal__closeButton {
  position: absolute;
  right: 2rem;
  top: 5rem;
  font-size: 4rem;
  z-index: 1;
  cursor: pointer;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  padding: 2rem;
  width: 100%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal__bg--image {
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  position: center;
}


@media screen and (max-width: 500px) {
  .tiles {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .tiles {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
}
